p{
    text-align:center;
}
h1{
    text-align:center;
    text-decoration:rgb(200, 14, 14) wavy underline;
}
#h1{
        font-weight: 100;
        text-align: center;
        font-size: 40px;
}
#h2{
 font-size:20px;
 text-transform:uppercase;        
}
#h3{
    font-weight: lighter;
    text-align: center;
}
#h4{
    font-weight: 900;
    text-align: center;
}
#one{
    font-family: arial;
    line-height:20px;
   
}
#two{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}