body{
        text-align: center;
        background-image: url(night.jpg);
        background-size: cover ;
        color:white;
}
.container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin:auto;
        max-width: 960px;
}
img{
        width: 100%;
        height: 270px;
        border-radius: 20%;
}
