.container{
    height:900px;
    width:100%;
    position:relative;
    left:0;
    background-image: url('building.png');
    background-size: cover;
}

.header{
    height:75px;
    width: 100%;
    display: flex;
    background-color: rgb(112,100,86);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
}

span>img {
    height: 100px;
    width:150px;
    margin-top:100px;
    position:relative;
    left:-20px;

}

span>a{
    text-decoration: none;
    color:white;
    margin:20px;
    position:relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.link{
    position:relative;
    right:130px;
}
.about{

}
.a-img{
        height:200px;
        width:200px;
       
        position :relative;
}
span>p{
        padding-left:100px;
        display:flex;
        margin-left:50em;
        margin-right:10em;
        font-weight:500;
         color:rgb(112,100,86);
        
       
      
}
span>h1{    
        margin-left:28.5em;
       font-family: 'Cinzel', serif;
        color: rgb(112, 100, 86);
       font-weight:200;       
}

