/*container styling*/
body {

    margin: 0%;
}

.container {
    height: 900px;
    width: 100%;
    position: relative;
    left: 0%;
    background-size: cover;
}

/*navbar styling*/
.header {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgb(112, 100, 86);
    justify-content: space-around;
    align-items: center;
    top: 0%;
    left: 0%;
}

.link>a {
    text-decoration: none;
    color: white;
    margin: 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.logo>img {
    height: 100px;
    width: 150px;
    margin-top: 100px;
    position: relative;
    left: -20px;

}

/*about styling*/
.link {
    position: relative;
    right: 130px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 200px 20px 200px
}

.info {
    color: rgb(112, 100, 86);
    margin: 65px 30px 40px 70px;
    text-align: justify;

}

h1 {

    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;

}

big {

    font-weight: bold;
    color: rgb(55, 49, 41);
}

/*salient styling */
.salient {

    height: 600px;
    background-color: rgb(112, 100, 86);
    color: white;
    text-align: center;
    padding: 60px 250px 60px 250px;
}

.salient>p {
    padding-top: 20px;
}
/*specification styling*/
.specification {
    display: flex;
    width: 100%;

    margin-top:100px;
}
.detail>h1 {
    font-weight: lighter;
}
.detail{
    margin: 30px 30px 40px 60px;
    text-align:justify;
    color:rgb(112, 100, 86)
}
/*footer styling*/
.footer{
    background-color: rgb(112, 100, 86);
    height:350px;
    color:white;
    
}
.f-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 200px 70px 200px;
    font-weight: lighter;
}

.f-detail>span{
    height: 100px;
}
.qr1>span>img{
    padding-top:20px;
    padding-right:20px;
}
.qr1{
    display: flex;
}
a{
    color:white;
    text-decoration: none;
}
