 /* #box1{
    height:100px;
    width:200px;
    background-color: green;
    font-size: 10px;
}
#box2{
        height:15vh;
         width:5rem; 
        background-color: yellow;
         margin-left: 10%;
          font-size:2em;/*<!--2 times the normal font size--> 
         
} */
 div{
    height:100px;
    width:100px;
    background-color: lightblue;
    border:2px solid black;
    display:inline-block;
 }
 #box1{

      position: static;
      top:50px;
      bottom:50px;
      z-index: 2px;
 }
 #box2{
      position: relative;
      top:10px;
      /* bottom:10px;
      left:10px; */
      z-index: 3px;
 }
 /* #box3{
   position:absolute;
   top:20px;
   bottom:20px;
   left:20px;
 } */
